body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.header_bcg {
    background: #222222;
}

.header_nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 74px; 
    padding: 18px 16px;
    box-sizing: border-box;
}

.logo_image {
    margin-right: 40px;
}

.user_image {
    margin-left: 42px;
    margin-right: 24px;
}

.user_image, 
.basket_image,
.basket_number {
    display: none;
}

.mainscreen {
    min-height: 363px;
}

.mainman_img {
    display: none;
}

.brend_name {
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_full {
    display: flex;
    flex-wrap: wrap;
}

.slash_img {
    max-height: 62px;
    margin-top: 8px;
    margin-right: 16px;
}

.brand_head {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #222222;
}

.fashion_head {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
}

.fashion_color {
    color: #F16D7F;
}

.hidden {
    display: none;
}

.offer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
}

.offer > div {
    position: relative;
}

.offer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    left: 0;
    top: 0;       
}

.offer_title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offer_title_top {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.offer_title_bottom {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

@media (min-width: 768px) {  
    .menu_image {
        margin-left: 270px;
    }

    .user_image, 
    .basket_image,
    .mainman_img {
        display: inline;
    }

    .basket_number {
        display: inline-block;
    }

    .basket {
        position: relative;
    }

    .basket_number {
        color: white;
        border-radius: 50%;
        background: #F16D7F;
        width: 19px;
        height: 19px;
        position: absolute;
        text-align: center;
        right: -10px;
        top: -6px;
        font-size: 12px;
        line-height: 18px;
    }

    .mainscreen {
        display: flex;
    }

    .mainman_img {
        width: 50%;
    }

    .brend_name {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    .head_full {
        margin-left: 40px;
    }

    .brand_head {
        font-size: 44px;
        line-height: 53px;
    }

    .fashion_head {
        font-size: 24px;
        line-height: 29px;
    }

    .slash_img {
        max-height: 72px;
    }

    .hidden {
        display: none;
    }

    .offer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offer_accesories {
        grid-column: 1/-1;
    }
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }

    .left {
        justify-content: flex-start;
    }

    .mainscreen {
        position: relative;
    }

    .hidden {
        display: none;
    }

    .mainscreen_dark {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    } 

    .menu {
        width: 232px;
        background: #ffffff;
        position: absolute;
        right: 0;
        height: 100%;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 16px 16px 16px 34px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .man_menu {
        margin-bottom: 20px;
    }

    .woman_menu {
        margin-bottom: 20px;
    }

    .kids_menu {
        margin-bottom: 20px;
    }

    .list_inner_menu {
        list-style-type: none;
    }

    .list_inner_menu_li {
        margin-bottom: 12px;
    }

    .list_inner_menu_link {
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    .close_menu {
        align-self: end;
        margin-bottom: 8px;
    }

    .head_menu {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 24px;
    }

    .inner_head_menu {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        margin-bottom: 12px;
    }

    .brend_name {
        display: flex;
        justify-content: flex-start;
    }

    .head_full {
        margin-left: 64px;
    }

    .brand_head {
        font-size: 48px;
        line-height: 58px;
    }

    .fashion_head {
        font-size: 32px;
        line-height: 38px;
    }

    .slash_img {
        max-height: 84px;
    }

    .offer {
        grid-template-rows: 260px 180px;
        gap: 30px;
    }
}
